<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applicationsiah">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/siah_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/siah_icone_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationSIAH">
        <activity
            android:name=".informations_perso"
            android:exported="false" />
        <activity
            android:name=".recuperation"
            android:exported="false" />
        <activity
            android:name=".exo_plaquage"
            android:exported="false" />
        <activity
            android:name=".session_sport"
            android:exported="false" />
        <activity
            android:name=".session_physique"
            android:exported="false"
            android:label="@string/title_activity_session_physique"
            android:theme="@style/Theme.ApplicationSIAH.NoActionBar" />
        <activity
            android:name=".exo_running"
            android:exported="false" />
        <activity
            android:name=".exo_2V1"
            android:exported="false" />
        <activity
            android:name=".exo_cou"
            android:exported="false" />
        <activity
            android:name=".menu_basket_meneur_tactique"
            android:exported="false" />
        <activity
            android:name=".menu_basket_meneur_exercice"
            android:exported="false" />
        <activity
            android:name=".menu_demi_hb"
            android:exported="false" />
        <activity
            android:name=".menu_basket_interieur_tactique"
            android:exported="false" />
        <activity
            android:name=".menu_basket_interieur_exercice"
            android:exported="false" />
        <activity
            android:name=".menu_basket_aillier_tactique"
            android:exported="false" />
        <activity
            android:name=".menu_basket_aillier_exercice"
            android:exported="false" />
        <activity
            android:name=".notification_test"
            android:exported="false" />
        <activity
            android:name=".menu_exo_gb"
            android:exported="false" />
        <activity
            android:name=".menu_tactique_gb"
            android:exported="false" />
        <activity
            android:name=".menu_basket_interieur"
            android:exported="false" />
        <activity
            android:name=".menu_basket_aillier"
            android:exported="false" />
        <activity
            android:name=".menu_basket_meneur"
            android:exported="false" />
        <activity
            android:name=".menu_basket"
            android:exported="false" />
        <activity
            android:name=".menu_foot_bu"
            android:exported="false" />
        <activity
            android:name=".menu_foot_ad_ag"
            android:exported="false" />
        <activity
            android:name=".menu_foot_mc"
            android:exported="false" />
        <activity
            android:name=".menu_foot_mdc"
            android:exported="false" />
        <activity
            android:name=".menu_foot_dg_dd"
            android:exported="false" />
        <activity
            android:name=".menu_foot_dc"
            android:exported="false" />
        <activity
            android:name=".menu_foot_gb"
            android:exported="false" />
        <activity
            android:name=".menu_foot"
            android:exported="false" />
        <activity
            android:name=".exercices_specifiques_arrieres"
            android:exported="false" />
        <activity
            android:name=".Exercices_Specifiques_Avants"
            android:exported="false" />

        <activity
            android:name=".Exercice_explosivite"
            android:exported="false" />
        <activity
            android:name=".menu_rugby"
            android:exported="false" />
        <activity
            android:name=".menu_gardien"
            android:exported="false" />
        <activity
            android:name=".menu_handball"
            android:exported="false" />
        <activity
            android:name=".Menu_sport"
            android:exported="false" />
        <activity
            android:name=".Podometre"
            android:exported="false" />
        <activity
            android:name=".Menu_principal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>